@charset "utf-8";
/* CSS Document */
@font-face{
	font-family: alex;
	src: url(alex.ttf);
}
html{overflow: -moz-scrollbars-vertical; 
overflow-y: scroll;
}
@font-face{
	font-family: open;
	src: url(open.ttf)
}
#about{background-image: url("../images/abstract_hd-normal.jpg");
background-color:black;
}
#home {
	background-image: url(../images/party.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
#title{
	font-family: alex;
	color: white;
	font-size: 10em;
	position: fixed;
	top: 50%;
	left: 50%;
	line-height: 0.6;
	transform: translate(-50%,-50%);
}
#itf {
	font-size: 0.25em;
	position: relative;
	left: 70%;
}
#links-home{
	text-decoration:none;
	position:relative;
	float: left;
	display:inline-block;
	font-family:open;
	font-size:0.18em;
	line-height: 3;
}
a{
	text-decoration: none;
	color: white;
	margin: 10px;
	-webkit-transition: all 0.5s ease-out 0s;
	-o-transition: all 0.5s ease-out 0s;
	transition: all 0.5s ease-out 0s;
	padding: 10px;
}
a:hover {
	background-color: rgba(194,123,2,1.00);
	
}
#contact{background-image: url("../images/new-shariah-main.jpg") ;
background-size: cover;



}
#hof{background-image: url("../images/abstract_hd-normal.jpg");
background-color:black;
}
#header
{ margin: 0px 2px 2px 2px;
position:absolute;
width:100%;
   top: 0;
  background:transparent;
  font: normal 100%3e berlin sans FB,monotype corsiva,parchment, sans serif ;
  padding: 0 0 0 0;}
.align{ margin-left: 26%;

}

.menu >ul > li{text-decoration:none;
	position:relative;
	
	display:inline-block;
	font-family:open;
	font-size:1.4em;
	
	text-align:center;
	color:black;
}
.content{width: 60%;
height: 600px;
margin-top: 20%;
margin-left: 20%;

}
.para{ font-family: AR CENA, Segoe UI Symbol,Arial Rounded MT Bold,calibri(body);
text-align:left;
font-size: 22px;
color: white; }

#eventtag{
font-family: AR CENA, calibri(body);
color: white;
font-size: 1.2em;

}
.text>a:hover{background:transparent;
}
.menu > ul > li > a:hover { 
    
    background-color:rgba(194,123,2,1.00);
    
	}
	#heading{font-family: alex;
	color: #ffd700;
	font-size: 8em;
	position: absolute;
	top:16%;
	margin-left:40%;
	}
	#heading1{font-family: alex;
	color: #ffd700;
	font-size: 7em;
	position: absolute;
	top:16%;
	margin-left:27%;
	}
	
	#venue{font-family: AR CENA,cooper black,comic sans MS;
position:relative;
margin-top: 10px;
	margin-left:1%;
	color:white;
	font-size:1.2em;
	}
	span{ color:white;
	font-family: AR CENA;
	text-align:center;
    margin-left:4%;
	margin-top: 5%;
	font-size: 3em;
	position: relative;
	}
	

.menu-content{width:100%;
position: absolute;
height:1000px;
text-align:center;
margin-top: 20%;

}
.menu-content >ul> li{display:inline-block;
padding: 20px;}

#head{color:white;
	font-family: comic sans MS;
	text-align:center;
    margin-left:4%;
	
	font-size: 2em;
	position: relative;
}
.container {
position:relative;
}
.textbox:hover {
opacity:1;
}
.text {
padding-top: 40px;

color:white;}
.im{padding: 10px;
background: white;
}
.textbox {
width:120px;
height:170px;
position:absolute;
top:0;
left:0;
opacity:0;
border-radius:5px;
background-color: rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}
.sidebar img{float:left;
margin-top:22px;
}
.sidebar h2{text-align:center;
}
.sidebar p{text-align:center;
}
.sidebar{width:10%;

background:white;
float:left;
height:400px;
top:40%;
color:black;
margin: 20px;
margin-top:20%;

}
.contactcontent:
{margin-top:100px;
margin-left:40%;
padding:20%;
color:black;
background;white;
width:60%;
height:1000px;
font-family:comic-sans;
font-size: 2em;
}
input[type="text"],input[type="email"] {
	border: none;
	-webkit-box-shadow: -3px 3px 2px 0 #ccc inset;
	box-shadow: -3px 3px 2px 0 #ccc inset;
	padding: .4em 1em;
	width: 30%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-size: .8em;
	margin: 2em auto 1em;
	padding: .8em;
	display:block;
	margin-left:40%;
	top:60%;
	font-family:comic-sans;
}
input[type="submit"][class="button"] {
position:relative;
	font-size: 1em;
	cursor: pointer;
	margin: 2em auto 1em;
	padding: .8em;
	display: block;
	width: 20%;
	margin-left:40%;
	
}
input[type="submit"][class="button"]:hover {
	background-color: #d4326d;
}
.button {
	background-color: blue;
	color: white;
	border-radius: 8px;
	border: 2px solid white
  width:10%;
  
}
#e{background-image:url("../images/p.jpg");
background-size:cover;
position:static;
padding:10px;
margin-top:20%;
border:10px solid black;
margin-left:40%;
margin-right:5%;
height:40%;
float:right;
width:30%;}